.card {
  background-color: #007c7e;
  width: 220px;
  height: 250px;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-icon {
  width: 80px;
  fill: #97d0ca;
  text-align: center;
  stroke: #97d0ca;
}
