.card {
  background-color: #007c7e;
  height: 220px;
  flex-grow: 1;
  flex-shrink: 0;
  border-radius: 20px;
  width: 220px;
  display: flex;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.card-icon {
  fill: #97d0ca;
  stroke: #97d0ca;
  margin: auto;
}
